


body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    /* Rimuove i margini predefiniti del browser */
     /* Forza il body ad essere alto quanto lo schermo */
    display: flex;
  flex-direction: column;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

.leftlinks a,
.rightlinks a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
}
.rightlinks a {
  margin-right: 10px;
}

.leftlinks,
.rightlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.leftlinks a:hover,
.rightlinks a:hover {   
    text-decoration: underline;
}

.Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Barra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 24px;
}

.searchbox {
    width: 600px;
    height: 44px;
    padding: 0 15px;
    font-size: 16px;
    border: none;
    border-radius: 24px;
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.button1 {
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 10px 20px;
    cursor: pointer;
    height: 36px;
    min-width: 54px;
}

.ITALIA p {
    position: fixed;
    bottom: 48px; /* sta SOPRA il footer */
    width: 100%;
    padding: 12px 24px;
    background: #202124;
    font-size: 14px;
    color: whitesmoke;
   
    /* LINEA DI SEPARAZIONE */
   
     border-bottom: 1px solid #3c4043;
     z-index: 10;
}

footer { 
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.footer {
  position: fixed;
  flex-direction: row;
  width: 100%;
  background-color: #202124;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  font-family: Arial, sans-serif;

}

.footer-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: row;
  gap: 24px;
  cursor: pointer;
}

.footer a {
  color: #e8eaed;
  text-decoration: none;
  font-size: 14px;
}

.footer a:hover {
  text-decoration: underline;
}