.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;

}

.box1 {
    width: 100%; 
    height: 200px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.purple{
    background-color: purple;
}