* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gridcapo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 500px;
    width: 800px;
}

.box {
    border-radius: 15px;
    background-color: cyan;
}

.red {
    grid-row: span 2;
}
