/*mobile style*/
.box{
    /*mobile basic*/
    background-color: green;
    width: 300px;
    height: 300px;
}

@media (min-width: 768px){
.box{
    background-color: orange;

}
}

@media (min-width: 1024px){
.box{
    background-color: red;
    
}
}